* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "nav header header"
    "nav article aside"
    "nav footer footer";
}

nav {
  grid-area: nav;
  background-color: violet;
}

header {
  grid-area: header;
  background-color: tomato;
}

article {
  grid-area: article;
  background-color: rgb(75, 236, 169);
}

aside {
  grid-area: aside;
  background-color: wheat;
}

footer {
  grid-area: footer;
  background-color: purple;
}

nav,
header,
article,
aside,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
